.detail-content {
    margin: 0 auto;
}
.img-border {
    width: 100%;
    padding-bottom: 100%;

    line-height: 40px; 
    border: 0px;
}
.img-border p {
    float: right;
    top:500px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    text-align: center;
    border: 1px solid #fff;
}
.base-info {
    border-bottom: 1px solid #d8d8d8;
    line-height: 50px;
    padding-left: 10px;    
}
.base-info ul li {
    color: #606060;
    font-size: 26px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.image-info {
    border-bottom: 1px solid #d8d8d8;
    line-height: 90px;
    margin-left:20px; 
    color: #606060;
    font-size: 28px;
}
.image-view {
    width: calc(100% - 20px);
    margin:0 auto;
}
.image-view img{
    width: 30%;
    padding-bottom: 30%;
    margin: calc(10%/6);
}
.check-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    height: 90px;
    border-bottom: 1px solid #d8d8d8;
    line-height: 90px;
    /*overflow: hidden;*/
}
.check-info p {
    font-size: 28px;
    color: #606060;
    width: 200px;
}
.check-info b {
    color: #cc9c33;
    font-size: 28px;
    margin-right: 10px;
}
.myself-info {
    line-height: 80px;
    margin: 10px 10px 100px 10px;
}
.myself-info b {
    font-size: 30px;
    color: #606060;
}
.myself-info p {
    line-height: 40px;
    font-size: 28px;
    color: #606060;
}