.pro-cell {
    width: 900px;
    border: 1px solid #000;
    margin: 10px auto;
    background-color: plum;
}
.pro-image {
    float: left;
    width: 170px;
    height: 170px;
    margin: 10px;
}
.pro-panel {
    float: left;
    height: 170px;
    top:10px;
    background-color:red;
    margin: 10px;
}

.pro-price {
    float: right;
    width: 170px;
    height: 170px;
    background-color: yellow; 
    margin: 10px;
    text-align:center;
    line-height: 170px;
}
.pro-priceItem {
    position: relative;
    width: 170px;
    height: 30px;
    line-height: 170px;
}

.pro-views {
    float: right;
    width: 170px;
    height: 170px;
    background-color: paleturquoise;
    text-align:center;
    line-height: 170px;
    margin: 10px;
}

.clear:after{ 
    content:'';
    display:block;
    clear:both;
} 